.highlights-list {
    flex-direction: row;
    flex-wrap: wrap;
    .highlights-list-item {
        border-bottom-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
        border-left-width: 1px;
        display: flex;
        justify-content: space-between;
        width: 100%;
        @media only screen and (min-width: 768px) {
            width: 23%;
        }
    }
}
