<div class="row align-content-center" style="height: 100%;">
  <div class="col col-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title mb-3">Información personal</h5>
        <form class="needs-validation" [formGroup]="form">
          <div class="row g-3">
            <div class="col-sm-6">
                <label for="company" class="form-label">Nombre de la empresa</label>
                <input type="text" class="form-control" [value]="work?.company" formControlName="company" id="company">
                <div class="invalid-feedback">
                  Un nombre de empresa válido es obligatorio.
                </div>
              </div>
            <div class="col-sm-6">
                <label for="position" class="form-label">Cargo</label>
                <input type="text" class="form-control" [value]="work?.company" formControlName="position" id="position">
                <div class="invalid-feedback">
                  Un cargo válido es obligatorio.
                </div>
            </div>
            <div class="col-md-6">
              <label for="startDate" class="form-label">Fecha de inicio en ese cargo</label>
              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="mm/aaaa" [value]="work?.startDate" formControlName="startDate" id="startDate">
                <div class="invalid-feedback">
                  Por favor, coloque una fecha válida.
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <label for="endDate" class="form-label">Fecha de finalización en ese cargo</label>
              <div class="input-group mb-3">
                <input type="text" placeholder="actual" class="form-control" [value]="work?.endDate" formControlName="endDate" id="endDate">
                <div class="invalid-feedback">
                Por favor, coloque una fecha válida.
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="input-group">
                <label class="input-group-text" for="inputGroupFile02">Tecnologías usadas</label>
                <input #highlight type="text" class="form-control" id="inputGroupFile04" value="">
                <button class="btn btn-outline-secondary" (click)="addhighlight(highlight.value)" type="button" id="inputGroupFileAddon04">agregar</button>
              </div>
            </div>
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <ul class="list-group list-group-horizontal highlights-list gap-3">
                    <li *ngFor="let highlight of work.highlights; let i = index" class="list-group-item highlights-list-item">{{highlight}}<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="removeHighlights(i)"></button></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <label for="summary" class="form-label">Descripción de la experiencia en ese cargo</label>
              <div class="input-group">
                <textarea maxlength="500"  formControlName="summary" [value]="work?.summary" class="form-control" id="summary" aria-label="Resumen de la experiencia"></textarea>
              </div>
            </div>
          </div>
          <hr class="my-4">
          <div class="row mb-3">
            <div class="d-grid gap-2 col-12 col-md-4 mb-3 mb-md-0 mx-auto">
              <button type="submit" [disabled]="form.invalid && !form.dirty" (click)="save($event)" class="btn btn-primary">
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"
                  *ngIf="loading"></span>
                {{loading ? 'Cargando...' : 'Guardar'}}
              </button>
            </div>
            <div class="d-grid gap-2 col-12 col-md-4 mb-3 mb-md-0 mx-auto">
              <button type="submit" [disabled]="form.invalid && !form.dirty" (click)="onClickDeleteWork()" class="btn btn-danger">
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"
                  *ngIf="loading"></span>
                {{loading ? 'Cargando...' : 'Eliminar'}}
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
