main {
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
}

main>* {
  flex-shrink: 0;
  min-height: -webkit-fill-available;
}

.b-example-divider {
  width: 1.5rem;
  height: 100%;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.bi {
  vertical-align: -.125em;
  pointer-events: none;
  fill: currentColor;
}

.content-section {
  width: calc(100% - 4.5rem);

  @media only screen and (min-width: 768px) {
    width: calc(100% - 280px);
  }

  overflow: auto;
}

.toast {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
