<article class="resume-wrapper text-center position-relative" *ngIf="resume">
    <div class="resume-wrapper-inner mx-auto text-left bg-white shadow-lg">
        <header class="resume-header pt-4 pt-md-0">
            <div class="media flex-column flex-md-row">
                <img class="mr-3 img-fluid picture mx-auto" [src]="resume?.basics?.picture ? resume?.basics?.picture : 'assets/images/default-user.png'" alt="Foto de perfil">
                <div class="media-body p-4 d-flex flex-column flex-md-row mx-auto mx-lg-0">
                    <div class="primary-info">
                        <h1 class="name mt-0 mb-1 text-white text-uppercase text-uppercase">{{resume?.basics?.name}}</h1>
                        <div class="title mb-3">{{resume?.basics?.label}}</div>
                        <ul class="list-unstyled">
                            <li class="mb-2"><a href="#"><fa-icon class="mr-2" [icon]="icons.envelope"></fa-icon>{{resume?.email}}</a></li>
                            <li><a href="#"><fa-icon class="mr-2" [icon]="icons.mobile"></fa-icon>{{resume?.basics?.phone}}</a></li>
                        </ul>
                    </div><!--//primary-info-->
                    <div class="secondary-info ml-md-auto mt-2">
                        <ul class="resume-social list-unstyled">
                            <li class="mb-3"><a href="#"><span class="fa-container text-center mr-2"><fa-icon [icon]="icons.linkedin"></fa-icon></span>{{resume?.basics?.linkedinUrl}}</a></li>
                            <li class="mb-3"><a href="#"><span class="fa-container text-center mr-2"><fa-icon [icon]="icons.github"></fa-icon></span>{{resume?.basics?.githubUrl}}</a></li>
                        </ul>
                    </div><!--//secondary-info-->
                    
                </div><!--//media-body-->
            </div><!--//media-->
        </header>
        <div class="resume-body p-5">
            <section class="resume-section summary-section mb-5">
                <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Resumen</h2>
                <div class="resume-section-content">
                    <p class="mb-0">{{resume?.basics?.summary}}</p>
                </div>
            </section><!--//summary-section-->
            <div class="row">
                <div class="col-lg-9">
                    <section class="resume-section experience-section mb-5">
                        <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Últimas Experiencias de Trabajo</h2>
                        <div class="resume-section-content">
                            <div class="resume-timeline position-relative">
                                <article class="resume-timeline-item position-relative pb-5" *ngFor="let work of resume?.work">
                                    
                                    <div class="resume-timeline-item-header mb-2">
                                        <div class="d-flex flex-column flex-md-row">
                                            <h3 class="resume-position-title font-weight-bold mb-1">{{work.position}}</h3>
                                            <div class="resume-company-name ml-auto">{{work.company}}</div>
                                        </div><!--//row-->
                                        <div class="resume-position-time">{{work.startDate}} - {{work.endDate}}</div>
                                    </div><!--//resume-timeline-item-header-->
                                    <div class="resume-timeline-item-desc">
                                        <p>{{work.summary}}</p>
                                        <h4 class="resume-timeline-item-desc-heading font-weight-bold">Tecnologias usadas:</h4>
                                        <ul class="list-inline">
                                            <li *ngFor="let highlights of work.highlights" class="list-inline-item"><span class="badge badge-primary badge-pill">{{highlights}}</span></li>
                                        </ul>
                                    </div><!--//resume-timeline-item-desc-->

                                </article><!--//resume-timeline-item-->
                            </div><!--//resume-timeline-->
                        </div>
                    </section><!--//experience-section-->
                </div>
                <div class="col-lg-3">
                    <section class="resume-section skills-section mb-5">
                        <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Habilidades</h2>
                        <div class="resume-section-content">
                            <div class="resume-skill-item">
                                <h4 class="resume-skills-cat font-weight-bold">Frontend</h4>
                                <ul class="list-unstyled mb-4">
                                    <li class="mb-2" *ngFor="let skill of resume.skills | skillsCategoryFilter:'Frontend'">
                                        <div class="resume-skill-name">{{skill.name}}</div>
                                        <div class="progress resume-progress">
                                            <div class="progress-bar theme-progress-bar-dark" role="progressbar" [style]="'width: '+ skill.level +'%'" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </li>
                                </ul>
                            </div><!--//resume-skill-item-->
                            
                            <div class="resume-skill-item">
                                <h4 class="resume-skills-cat font-weight-bold">Backend</h4>
                                <ul class="list-unstyled">
                                    <li class="mb-2"  *ngFor="let skill of resume.skills | skillsCategoryFilter:'Backend'">
                                        <div class="resume-skill-name">{{skill.name}}</div>
                                        <div class="progress resume-progress">
                                            <div class="progress-bar theme-progress-bar-dark" role="progressbar" [style]="'width: '+ skill.level +'%'" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </li>
                                </ul>
                            </div><!--//resume-skill-item-->
                            
                            <div class="resume-skill-item">
                                <h4 class="resume-skills-cat font-weight-bold">Outros</h4>
                                <ul class="list-inline">
                                    <li *ngFor="let skill of resume.skills | skillsCategoryFilter:'Otros'" class="list-inline-item"><span class="badge badge-light">{{skill.name}}</span></li>
                                </ul>
                            </div><!--//resume-skill-item-->
                        </div><!--resume-section-content-->
                    </section><!--//skills-section-->
                    <section class="resume-section education-section mb-5">
                        <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Educación</h2>
                        <div class="resume-section-content">
                            <ul class="list-unstyled">
                                <li class="mb-2" *ngFor="let education of resume?.education">
                                    <div class="resume-degree font-weight-bold">{{education.area}}</div>
                                    <div class="resume-degree-org">{{education.institution}}</div>
                                    <div class="resume-degree-org">{{education.studyType}}</div>
                                    <div class="resume-degree-time">{{education.startDate}} - {{education.endDate}}</div>
                                </li>
                            </ul>
                        </div>
                    </section><!--//education-section-->
                    <section class="resume-section language-section mb-5">
                        <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Idiomas</h2>
                        <div class="resume-section-content">
                            <ul class="list-unstyled resume-lang-list">
                                <li *ngFor="let language of resume.languages" class="mb-2"><span class="resume-lang-name font-weight-bold mr-1">{{language.language}}</span> <small class="text-muted font-weight-normal">({{language.fluency}})</small></li>
                            </ul>
                        </div>
                    </section><!--//language-section-->					    
                </div>
            </div><!--//row-->
        </div><!--//resume-body-->
        
        
    </div>
</article>  